
  @font-face {
    font-family: "iconfont"; /* Project id 5088115 */
    src: url('//at.alicdn.com/t/c/font_5088115_1mw7mpgioml.woff2?t=1765657881896') format('woff2'),
         url('//at.alicdn.com/t/c/font_5088115_1mw7mpgioml.woff?t=1765657881896') format('woff'),
         url('//at.alicdn.com/t/c/font_5088115_1mw7mpgioml.ttf?t=1765657881896') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-sousuo1:before {
    content: "\e63a";
  }
  
  .icon-huo-copy:before {
    content: "\e66d";
  }
  
  .icon-huo:before {
    content: "\e66d";
  }
  